/* changes gap size */

img {
  padding: 2px 2px 2px 2px !important;
}

body {
  padding: 2px 0 0 2px; 
}

/* removes the transparent black bar in the lightbox */
.uk-lightbox-toolbar {
    background: none;
}
